$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #FC6D21;
$color-blue-dark: #051952;
$color-blue-purple: #423FE9;
$color-blue-light: #67C0FC;
$color-gray-light: #DBDAEB;
$color-purple: #8377C7;
$color-text:#423FE9;

