@font-face {
    font-family: 'ibm_plex_monobold';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-bold-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_monoextralight';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-extralight-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_monolight';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-light-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_monomedium';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-medium-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_monoregular';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_monosemibold';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-semibold-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_monothin';
    src: url('../fonts/ibm-plex-mono/ibmplexmono-thin-webfont.woff2') format('woff2'),
         url('../fonts/ibm-plex-mono/ibmplexmono-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
