html {
  background: $color-blue-dark;
  body {
    color: $color-white;
    font-family: 'ibm_plex_monoregular';
    background: linear-gradient(0deg, #521DCF 0%, rgba(44,52,160,0) 100%);
    main {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-image: linear-gradient(transparent 85%, #521DCF 15%);
      background-size: 6px 6px;
    }
  }
}
