.landing {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  &__form {
    position: relative;
    input {
      height: 50px;
      width: 300px;
      border: 5px solid $color-orange;
      border-radius: 5px;
      background-color: $color-gray-light;
      color: $color-blue-purple;
      font-family: 'ibm_plex_monoregular';
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      padding-left: 20px;
      &::placeholder {
        color: $color-blue-purple;
      }
    }
    button {
      background: none;
      border: none;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}
