.timeline{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .timeline-container{
    width: 100%;
    height: 50%;
    position: relative;
    display: block;

    .marker{
      cursor: pointer;
      z-index: 2;
      display: inline-block;
      position: absolute;
      top: 100%;
      transform:translateY(-50%);
      width: 5px;
      height: 25px;
      background-color: $color-orange;
      transition: all 0.2s ease-in-out;
      &:hover{
        height: 50px;
        background-color: aqua;
      }
      span{
        position: absolute;
        transform: translateX(-18px) translateY(-25px);
      }
    }

    .timeline_item{
      vertical-align: bottom;
      position: absolute;
      display: inline-block;

      bottom: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(31px);
      overflow: hidden;
      z-index: 3;

      .timeline_content{
        &::before {
          border-bottom: 10px solid transparent;
          border-right: 12px solid #CCC;
          border-left: none;
          border-top: 10px solid transparent;
          left: -12px;
        }
        &::after {
          border-bottom: 9px solid transparent;
          border-right: 11px solid $color-gray-light;
          border-left: none;
          border-top: 9px solid transparent;
          left: -10px;
        }

        border-radius: 3px;
        color: #333;
        display: block;
        position: relative;
        &::before,
        &::after {
          content: '';
          height: 0;
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          width: 0;
        }
        &::before {
          border-bottom: 10px solid transparent;
          border-left: 12px solid #CCC;
          border-top: 10px solid transparent;
          right: -12px;
          z-index: 1;
        }
        &::after {
          border-bottom: 9px solid transparent;
          border-left: 11px solid #FFF;
          border-top: 9px solid transparent;
          right: -10px;
          z-index: 2;
        }
      }

      .timeline_content_header {
        background-color: $color-gray-light;
        border-radius: 5px 5px 0 0;
        //border: 3px solid $color-orange;

        h2 {
          font-size: 20px;
          font-weight: 700;
          margin: 0 0 10px;
          display: inline-block;
          padding: 5px 13px;
        }
        .img_container {
          display: inline-block;
          float: right;
          padding: 13px;
        //  border-left: 3px solid $color-orange;


        }
      }
      .timeline_content_body{
        background-color: $color-gray-light;
       // border-left: 3px solid $color-orange;
       // border-right: 3px solid $color-orange;
      //  border-bottom: 3px solid $color-orange;

        img{
          width: 100%;
          height: auto;
        }
      }

      .timeline_content_footer{
        text-align: right;

        .timeline_content_footer_container{
          background-color: $color-gray-light;
          display: inline-block;
          //border-left: 3px solid $color-orange;
          //border-bottom: 3px solid $color-orange;
         // border-right: 3px solid $color-orange;
          padding: 0px;
          vertical-align: middle;




        }
      }
    }

    // /////////////// MOVIE

    .timeline_item.movie{
      width: 300px;
      .timeline_content_header {
        border: 3px solid $color-orange;

        .img_container {
          border-left: 3px solid $color-orange;
        }
      }
      .timeline_content_body{
        border-left: 3px solid $color-orange;
        border-right: 3px solid $color-orange;
        border-bottom: 3px solid $color-orange;
      }
      .timeline_content_footer{
        .timeline_content_footer_container{
          border-left: 3px solid $color-orange;
          border-bottom: 3px solid $color-orange;
          border-right: 3px solid $color-orange;
          width: 140px;
          border-radius: 0 0 5px 5px;



          .article_content{
            width: 23%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 6px;
            float: left;
            border-right: solid 2.5px $color-orange;
            img{
              width: 100%;
              height: auto;
            }
          }

          .more_content{
            border-left: solid 2.5px $color-orange;
            display: inline-block;
            vertical-align: middle;
            float: right;

            text-align: center;
            width: 22%;
            padding: 7px;
            .more{
              width: 100%;
              height: auto;
            }
          }

          .web_container{
            margin: 0;
            vertical-align: middle;
            width: 23%;
            display: inline-block;


            text-align: center;
            padding: 6px;
            .web{
              padding: 0;
              width: 100%;
              height: auto;
            }
          }



        }
      }
    }

    .timeline_item.that_article{
      .timeline_content_header {
        border: 3px solid $color-blue-light;
        
        .img_container {
          border-left: 3px solid $color-blue-light;
        }
      }
      .timeline_content_body{
        border-left: 3px solid $color-blue-light;
        border-right: 3px solid $color-blue-light;
        border-bottom: 3px solid $color-blue-light;
        
          img{
            width: 30%;
            height: auto;
          }
          h2{
            display: inline-block;
          }
      }
      .timeline_content_footer{
        .timeline_content_footer_container{
          border-left: 3px solid $color-blue-light;
          border-bottom: 3px solid $color-blue-light;
          border-right: 3px solid $color-blue-light;
          .web_container{
            margin: 0;
            vertical-align: middle;

            display: inline-block;
            text-align: center;
            padding: 5px;
            .web{
              padding: 0;
              width: 100%;
              height: auto;
            }
          }
        }
      }

    }

    .st0{fill:red;}


    .description_bubble{

      position: absolute;
      width: 540px;
      height: 150px;
      background-color: $color-gray-light;
      border:solid 3px $color-orange;
      border-radius:5px 5px 0 0;
      bottom: 30%;
      transform: translateY(31px);
      visibility : hidden;
      transition: all 0.3s ease-in-out;
      z-index: 3;
      .timeline_content_header{
        height: 40px;
        border-bottom: solid 3px $color-orange;

        h2{
          margin: 0;
          font-size: 18px !important;
          width:80%;
          padding-top: 7px;
          padding-left: 10px;
          display: inline-block;
        }

        .img_container {
          border-left: solid 3px $color-orange;
          display: inline-block;
          text-align: center;
          width:40px;
          height: 30px;
          padding-top: 10px;
          right: 0;
          position: absolute;

          img{
            width:20px;
          }



          //  border-left: 3px solid $color-orange;


        }
        .close{
          display: inline-block;
          width:20%;
        }


      }


      h2{
        color: $color-text;
        font-size: 14px;
        width:100%;
        text-align: justify;
      }

    }
  }
  .close {
    width: 20px;
    height: auto;

    fill: #000;

  }
  .timeline-divider{

    background-color: #FC6D21;
    width: 100%;
    height: 5px;
    transform:translateY(-50%);
    position: relative;
  }
}