.timeline {
  &__arti {
    transition: all 0.7s ease;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    &-event {
      position: absolute;
      width: 300px;
      height: 200px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      cursor: pointer;
    }
    &-robot {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      width: 600px;
      transform: rotate(180deg);
    }
  }
  &__conclusion {
    display: none;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -600px;
    background: rgba(1,0,54,0.8);
    padding: 40px;
    transition: all 0.5s ease;
    font-size: 14px;
    &-content {
      text-align: justify;
      line-height: 25px;
      overflow: scroll;
      height: 300px;
    }
    img {
      width: 20px;
      position: absolute;
      top: -18px;
      left: -18px;
      background: rgba(1,0,54,0.8);
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
    }
    p:first-child {
      margin-top: 0;
    }
    .quote {
      text-align: center;
      width: 450px;
      margin: 20px auto;
      color: $color-gray-light;
    }
  }
}
.timeline{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .timeline-container{
    width: 100%;
    height: 80%;
    position: relative;
    display: block;

    .marker{
      cursor: pointer;
      z-index: 2;
      display: inline-block;
      position: absolute;
      top: 100%;
      transform:translateY(-50%);
      width: 5px;
      height: 35px;
      background-color: $color-orange;
      transition: all 0.2s ease-in-out;
      &:hover{
        //height: 50px;
        background-color: $color-blue-light;
      }
      span{
        position: absolute;
        transform: translateX(-18px) translateY(50px) rotate(-35deg);
        margin-left: -12px;
      }
    }

    .timeline_item{
      color: $color-text;
      vertical-align: bottom;
      position: absolute;
      display: inline-block;
      bottom: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      z-index: 3;


      .timeline_content_header {
        background-color: $color-gray-light;
        border-radius: 5px 5px 0 0;
      }
      .timeline_content_body{
        background-color: $color-gray-light;
        img{
          width: 100%;
          height: auto;
        }
      }

      .timeline_content_footer{
        text-align: right;

        .timeline_content_footer_container{
          background-color: $color-gray-light;
          display: inline-block;
          padding: 0px;
          vertical-align: middle;
        }
      }
    }

    // /////////////// MOVIE

    .timeline_item.movie{
      width: 300px;
      height:404.38px;
      overflow: visible;
      transform: translateY(-18px);
      .timeline_content_header {
        border: 3px solid $color-orange;
        overflow: hidden;




        & > div:nth-of-type(1){
          display: block;
          display: inline-block;
          overflow: hidden;
          position: relative;
          table-layout: fixed;
          width: 253px
        }



        h2 {
          font-size: 20px;
          font-weight: 700;
          margin:0;
          left:0;
          overflow: hidden;
          display: inline-block;
          padding: 5px 13px;
          white-space: nowrap;
          padding-left: 18px;
          margin-left:-100%;
          -webkit-animation:linear marqueelike 10s infinite ;
          -moz-animation:linear marqueelike 10s infinite ;
          -o-animation:linear marqueelike 10s infinite ;
          -ms-animation:linear marqueelike 10s infinite ;
          animation:linear marqueelike 10s infinite ;

          animation-delay: 2s;
          text-align:left;
          height:25px;


        }

        h2:after {
          content:attr(data-text);
          position:absolute;
          white-space:nowrap;
          padding-left:10px;
        }
        .img_container {
          display: inline-block;
          float: right;
          padding: 9px;
          border-left: 3px solid $color-orange;
        }

      }
      .timeline_content{

        &::before,
        &::after {
          content: '';
          height: 0;
          position: absolute;
          transform: translateY(-50%);
          bottom:18px;
          width: 0;
        }
        &::before {
          width: 0;
          height: 0;
          border-top: 31px solid $color-orange; //to change if border change
          border-right: 31px solid transparent;
          border-radius: 0 0 50px 0;
          left: 0;
        }
        &::after {
          width: 0;
          height: 0;
          border-top: 25px solid$color-gray-light;
          border-right: 25px solid transparent;
          left: 3px; //according to pixels
          bottom:29px;
        }
        border-radius: 3px;
        display: block;
        position: relative;
      }
      .timeline_content_body{
        border-left: 3px solid $color-orange;
        border-right: 3px solid $color-orange;
        border-bottom: 3px solid $color-orange;
        overflow: hidden;
        img{
          width: auto;
          height: 180px;
        }

        p {
          height: 110px;
          padding: 0 18px;
          text-align: justify;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .timeline_content_footer{
        .timeline_content_footer_container{
          border-left: 3px solid $color-orange;
          border-bottom: 3px solid $color-orange;
          border-right: 3px solid $color-orange;
          width: 186px;
          border-radius: 0 0 5px 5px;

          .article_content, .more_content, .web_container{
            width: 60px;
            height: 60px;
            vertical-align: middle;

            display: inline-block;


            text-align: center;
            img{

              width: 25px;
              height: auto;
              top: 50%;

              bottom: 0;
              transform: translateY(-50%);
              position: relative;
            }
          }

          .article_content{
            float: left;
            border-right: solid 2.5px $color-orange;

          }

          .more_content{
            border-left: solid 2.5px $color-orange;
          }

          .web_container{
            margin: 0;
          }



        }
      }
    }

    .timeline_item.that_article{
      width: 540px;
      height: 270px;

      .timeline_content_header {
        height: 40px;
        border: 3px solid $color-blue-light;


        & > div:nth-of-type(1){
          display: block;
          display: inline-block;
          overflow: hidden;
          position: relative;
          table-layout: fixed;
          width: 323px;

          h2 {
            font-size: 20px;
            font-weight: 700;
            margin:0;
            left:0;
            overflow: hidden;
            display: inline-block;
            padding: 5px 13px;
            white-space: nowrap;
            padding-left: 18px;
            margin-left:-100%;
            -webkit-animation:linear marqueelike 10s infinite ;
            -moz-animation:linear marqueelike 10s infinite ;
            -o-animation:linear marqueelike 10s infinite ;
            -ms-animation:linear marqueelike 10s infinite ;
            animation:linear marqueelike 10s infinite ;

            animation-delay: 2s;
            text-align:left;
            height:25px;


          }

          h2:after {
            content:attr(data-text);
            position:absolute;
            white-space:nowrap;
            padding-left:10px;
          }
        }




        .img_container {
          display: inline-block;
          float: right;
          padding: 9px;
          border-left: 3px solid $color-orange;
        }



        & > h2:nth-of-type(1),& > h2:nth-of-type(2), .img_container{
          display: inline-block;

          margin: 0;
          padding: 0;
        }

        & > h2:nth-of-type(1),& > h2:nth-of-type(2){
          font-size: 18px;
          height: 35px;
          padding-top:5px;
          overflow: hidden;

          //border: solid 1px red;
        }
        & > h2:nth-of-type(1){
          width:168px;
          text-align: center;
          border-right: 3px solid $color-blue-light;
        }

        & > h2:nth-of-type(2){
          padding-left: 10px;
          white-space: nowrap;
          width:313px;

        }

        .img_container {
          height: 40px;
          width: 40px;
          border-left: 3px solid $color-blue-light;
          position: absolute;
          right: 0;

          .close{
            width: 20px;
            height: auto;
            fill: #000;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
          }
        }
      }
      .timeline_content_body{
        border-left: 3px solid $color-blue-light;
        border-right: 3px solid $color-blue-light;
        border-bottom: 3px solid $color-blue-light;
          div, p{
            display: inline-block;
          }
          div{
            overflow: hidden;
            width: 169px;

            img{
              width: 100%;
              height: auto;
            }
          }

          p{
            width: 330px;
            display: inline-block;
            padding: 0 17px;

          }
      }
      .timeline_content_footer{
        .timeline_content_footer_container{
          border-left: 3px solid $color-blue-light;
          border-bottom: 3px solid $color-blue-light;
          border-right: 3px solid $color-blue-light;
          border-radius: 0 0 5px 5px ;
          .web_container{
            margin: 0;
            vertical-align: middle;
            width: 60px;
            height: 60px;

            display: inline-block;
            text-align: center;

            .web{
              padding: 0;
              width: 25px;
              height: auto;
              top: 50%;
              bottom: 0;
              transform: translateY(-50%);
              position: relative;
            }
          }
        }
      }

    }

    .st0{fill:red;}


    .description_bubble{

      position: absolute;
      width: 540px;
      height: 270px;
      background-color: $color-gray-light;
      border:solid 3px $color-orange;
      border-radius:5px 5px 0 0;
      bottom: 30%;
      transform: translateY(31px);
      visibility : hidden;
      transition: all 0.3s ease-in-out;
      z-index: 3;
      .timeline_content_header{
        height: 40px;
        border-bottom: solid 3px $color-orange;

        h2{
          margin: 0;
          font-size: 18px !important;
          width:80%;
          padding-top: 7px;
          padding-left: 18px;
          display: inline-block;
        }

        .img_container {
          border-left: solid 3px $color-orange;
          display: inline-block;
          text-align: center;
          width:40px;
          height: 30px;
          padding-top: 10px;
          right: 0;
          position: absolute;

          img{
            width:20px;
          }



          //  border-left: 3px solid $color-orange;


        }
        .close{
          display: inline-block;
          width:20%;
        }


      }


      h2{
        margin-left: 18px;
        color: $color-text;
        font-size: 14px;
        width:92%;
        text-align: justify;
      }

    }
  }
  .close {
    width: 20px;
    height: auto;

    fill: #000;

  }
  .timeline-divider{

    background-color: #FC6D21;
    width: 100%;
    height: 5px;
    transform:translateY(-50%);
    position: relative;
  }
}
$begin : 0;
$end : -100%;

@-webkit-keyframes marqueelike {
  0%, 100% {margin-left:$begin;}
  99.99% {margin-left:$end;}
}
@-moz-keyframes marqueelike {
  0%, 100% {margin-left:$begin;}
  99.99% {margin-left:$end;}
}
@-o-keyframes marqueelike {
  0%, 100% {margin-left:$begin;}
  99.99% {margin-left:-$end;}
}
@-ms-keyframes marqueelike {
  0%, 100% {margin-left:$begin;}
  99.99% {margin-left:$end;}
}
@keyframes marqueelike {
  0%, 100% {margin-left:$begin;}
  99.99% {margin-left:$end}
}
